/*Typografie*/
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Knewave&family=Montserrat:wght@300;400;500;600;700&display=swap'); 

body{
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Knewave&family=Montserrat:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



/*Hauptite - Plant Aid*/
h1{
    color: #323232;
    text-align: center;
    font-family: Knewave;
    font-size: 90px;
    font-style: normal;
    font-weight: 400;
    
}

/* Titel - Anmelden, Registrieren, Meine Pflanzen, etc.*/
h2{
    color: #323232;
    text-align: center;
    font-family: Knewave;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* Überschrfit - Name der Pflanze*/
h3{
    color: #323232;
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
}

/* kleinere Überschrift - Name/Alter, Merkmale, Galerie deiner Fortschritte*/
h4{
    color: #323232;
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

/*Pflanzenübsicht - kleiner Text bei Icons*/
h5{
    color: #323232;
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: 30px; 
}


/* Fliesstext - Text unterhalb Titel*/
p{
    color: #323232;
    text-align: center;
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

/* LogIn-Seite */



/*Hintergrundbild*/
#Hintergrundbild {
    background-image: url(../img/scott-webb-eA2z1JSzZFI-unsplash.jpg);
    background-size: cover; /* Hintergrundbild über den gesamten Bildschirm strecken */
    background-repeat: no-repeat;
    background-attachment: fixed; /* Das Bild bleibt fixiert und scrollt nicht */
    background-position: center;
    height: 100vh; /* 100% der Bildschirmhöhe */
    /* Hier wird die Deckkraft auf 50% gesetzt */
    background-color: rgba(255, 255, 255, 0.1);
}

#Titel_Anmedlung{
    color: #323232;
    text-align: center;
    font-family: Knewave;
    font-size: 90px;
    font-style: normal;
    font-weight: 400;
    padding-top: 120px;
}

#Untertitel_Anmedlung{
    color: #323232;
    text-align: center;
    font-family: Knewave;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 20px;
}

.container_login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

/* Stil für das E-Mail-Eingabefeld */
#email {
    width: 260px;
    height: 20px;
    background-color: #F5F5F5;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 20px;
}

/* Stil für den "Anmelden" Button */
#sendMagicLinkButton {
    padding: 10px 0;
    background-color: #589A8D;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 300px; /* Breite der Buttons, kann nach Bedarf angepasst werden */
    height: 40px;
    text-align: center;
    display: inline-block; /* In einer horizontalen Linie anzeigen */
    margin-top: 30px;
}

#sendMagicLinkButton:hover {
    padding: 10px 0;
    background-color: #CEE6D8;
    color: #323232;
}

/* Stil für den "Neu Registrieren" Button */
.button_neu_registrierung {
    padding: 10px 0;
    background-color: #323232;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 300px; /* Breite der Buttons, kann nach Bedarf angepasst werden */
    height: 40px;
    text-align: center;
    display: inline-block; /* In einer horizontalen Linie anzeigen */
    margin-top: 10px;
}

.button_neu_registrierung:hover {
    padding: 10px 0;
    background-color: #CEE6D8;
    color: #323232;
}
  


/*Registrierungs-Seite*/

#Hauptitel_Registrierung{
    color: #F5F5F5;
    text-align: center;
    font-family: Knewave;
    font-size: 90px;
    font-style: normal;
    font-weight: 400;
    padding-top: 120px;
}

#Untertitel_registration{
    color: #F5F5F5;
    text-align: center;
    font-family: Knewave;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 20px;
    margin-bottom: 40px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 45px;
    margin-right: 39px;

}
  
.form-group {
    margin-bottom: 15px;
}
  
label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}
  
input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
}
  
.button_registrierung {
    padding: 10px 0;
    background-color: #589A8D;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 282px; /* Breite der Buttons, kann nach Bedarf angepasst werden */
    height: 37px;
    text-align: center;
    display: inline-block; /* In einer horizontalen Linie anzeigen */
    margin-top: 10px;
}

.button_registrierung:hover {
    background-color: #CEE6D8;
    color: #323232; 
}

#wrapper {
    max-width: 260px;
    margin-top: 13px;
}

#email-registrierung{
    max-width: 260px;
}


/*pflanze-hinzufügen*/

.button_hinzufuegen {
    padding: 10px 20px;
    background-color: #323232;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float: right;
    width: 100%;
}

.button_hinzufuegen:hover {
    background-color: #589A8D;
    color: #fff; 
}


#nickname-hinzuefuegen{
    background-color: #F5F5F5;
    color: #323232;
    text-align: left;
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    width: 375px; /* Breite der Buttons, kann nach Bedarf angepasst werden */
    height: 18px;
}

#species-hinzuefuegen{
    background-color: #F5F5F5;
    color: #323232;
    text-align: left;
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    width: 375px; /* Breite der Buttons, kann nach Bedarf angepasst werden */
    height: 18px;
}

input#planted-hinzuefuegen{
    background-color: #F5F5F5;
        color: #323232;
        text-align: left;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        width: 175px; /* Breite der Buttons, kann nach Bedarf angepasst werden */
        height: 18px;
        padding: 10px 20px;
        cursor: pointer;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding-left: 10px;
        margin-right: 200px;
}

#location-hinzuefuegen{
    background-color: #F5F5F5;
    color: #323232;
    text-align: left;
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    width: 178px; /* Breite der Buttons, kann nach Bedarf angepasst werden */
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #ccc;
    padding-left: 10px;
    padding-right:10px;
}



.courses {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
   
}

.courses li {
    color: #323232;
    cursor: pointer;
    text-decoration: none;
    display: block;
    list-style: none;
    background-color: #ccc;
    font-family: Roboto;
    border: 1px solid white;
}

.courses li a {
    text-decoration: none;
    color: #323232;
    display: block;
    padding: 10px;
}

.courses li:hover {
    background-color: #589A8D;
    color: white;
}

/*pflanze-hinzufügen-bestätigung*/

#pflanze-hinzugefuegt-bestaetigung-titel{
    text-align: center;
    margin-top: 200px;
}

.button_hinzufuegen_bestaetigung{
    padding: 10px 0;
    background-color: #323232;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 190px; /* Breite der Buttons, kann nach Bedarf angepasst werden */
    height: 40px;
    text-align: center;
    display: block; /* In einer horizontalen Linie anzeigen */
    margin-left: 760px;
    margin-top: 200px;
}

.button_hinzufuegen_bestaetigung:hover{
    background-color: #589A8D;
    color: #fff;
}

/*Bearbeitungs-Seite*/
.container-bearbeitung {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}
  
.form-group-bearbeitung {
    margin-bottom: 15px;
}
  
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
  
input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
  
.button_speichern {
    padding: 10px 20px;
    padding-right: 100px;
    background-color: #589A8D;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float: right;
}
.button_speichern:hover {
    background-color: #CEE6D8;
    color: #323232; 
}

#wrapper-bearbeitung {
    max-width: 400px;
}



/*Pflanzen Profil Seite*/

#merkmale{
    margin-right: 320px;
}

#merkmale_defintionen{
    font-size: 14.5px;
    font-weight: 200;
    margin-left: 655px;
    text-align: left;
    padding: 10px 20px;
    width: 370px; /* Breite der Buttons, kann nach Bedarf angepasst werden */
    height: 20px;
    border-radius: 4px;
    background-color:#F5F5F5;
    padding-left: 15px; /* Linker Abstand */
}

.button_loeschen,
.button_bearbeiten,
.button_zurueck_profil {
    padding: 10px 0;
    background-color: #323232;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 190px; /* Breite der Buttons, kann nach Bedarf angepasst werden */
    height: 40px;
    text-align: center;
    display: inline-block; /* In einer horizontalen Linie anzeigen */
    margin: 10px; /* Abstand zwischen den Buttons */
    
}

.button_loeschen,
.button_bearbeiten {
    margin-right: 10px; /* Abstand zwischen den Buttons "Löschen" und "Bearbeiten" */
    margin-top: 20px;
}
.button_loeschen{
    margin-left: 656px;
}

.button_loeschen:hover,
.button_bearbeiten:hover,
.button_zurueck_profil:hover {
    background-color: #589A8D;
    color: #fff;
}

.button_zurueck_profil {
    float: left; /* Zurück-Button auf die linke Seite verschieben */
    clear: both; /* Verhindert, dass andere Elemente neben dem Zurück-Button schweben */
    margin-top: 50px;
    margin-left: 120px;
    position: fixed;
}

/*Pflanzen Profil Seite - 2. Seite BEARBEITEN */

form#editPlantForm {
    font-size: 14.5px;
    font-weight: 200;
    margin-left: 655px;
    text-align: left;
    padding: 10px 20px;
    width: 370px; /* Breite der Buttons, kann nach Bedarf angepasst werden */
    height: 20px;
    padding-left: 15px; /* Linker Abstand */

}

input#nickname{
    background-color: #F5F5F5;
    color: #323232;
    text-align: left;
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

input#species{
    background-color: #F5F5F5;
    color: #323232;
    text-align: left;
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

input#planted{
    background-color: #F5F5F5;
    color: #323232;
    text-align: left;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-right: 320px;
    width: 350px; /* Breite der Buttons, kann nach Bedarf angepasst werden */
    height: 20px;
    padding: 10px 20px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button#speichern_knopf{
    padding: 10px 0;
    background-color: #323232;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 190px; /* Breite der Buttons, kann nach Bedarf angepasst werden */
    height: 40px;
    text-align: center;
    display: inline-block; /* In einer horizontalen Linie anzeigen */
    margin-right: 200px;
    margin-top: 50px;
}

button#speichern_knopf:hover{
    background-color: #589A8D;
    color: #fff;    
}

button#button_loeschen{
    margin-right: 200px;
}


/*Seite Bestätigung Pflanze bearbeiten*/
.button_meine_pflanzen{
    padding: 10px 0;
    background-color: #323232;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 190px; /* Breite der Buttons, kann nach Bedarf angepasst werden */
    height: 40px;
    text-align: center;
    display: block; /* In einer horizontalen Linie anzeigen */
    margin-left: 760px;
}

.button_meine_pflanzen:hover{
    background-color: #589A8D; 
    color: #fff;
}

#pflanze-bearbeitet-bestaetigung-titel{
    margin-top: 200px;
    text-align: center;
}

/*Seite Löschen Bestätigung*/
#pflanze-loeschen-bestaetigung-titel{
    margin-top: 200px;
    text-align: center;
}

.button_pflanze_loeschen_bestaetigung{
    padding: 10px 0;
    background-color: #323232;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 190px; /* Breite der Buttons, kann nach Bedarf angepasst werden */
    height: 40px;
    text-align: center;
    display: block; /* In einer horizontalen Linie anzeigen */
    margin-left: 760px;
    margin-top: 50px;
}

.button_pflanze_loeschen_bestaetigung:hover{
    background-color: #589A8D; 
    color: #fff;
}



/* Übersicht Seite - Meine Pflanzen*/
#meine-pflanzen-haupttitel{
    margin-bottom: 30px;
    margin-top: 50px;
}

#meine-pflanzen-untertitel{
    margin-bottom: 55px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Nur 2 Spalten pro Zeile */
    grid-template-rows: auto; /* Automatische Zeilenhöhe */
    grid-gap: 40px; /* Abstand zwischen den Elementen */
   
    margin-left: 300px;
    max-width: 900px; /* Begrenzt die maximale Breite des Rasters */
    padding: 0 20px; /* Seitenabstand links und rechts hinzufügen */
}

.grid-item {
    display: flex;
    align-items: center;
    padding: 10px;
}

.image {
    flex: 1; /* Lässt das Bild den verfügbaren Platz füllen */
}

.image img {
    width: 300px;
    height: 170px;
}

#text-meine-pflanze-titel{
    margin-left: 30px; /* Linker Abstand */
    padding-right: 140px;
    font-size: 20px;
    margin-top: -5px ;
    font-weight: 600;
}

#text-meine-pflanze {
    flex: 1; /* Lässt den Text den verfügbaren Platz füllen */
    text-align: left; /* Text linksbündig ausrichten */
    margin-left: 30px; /* Linker Abstand */
    padding-right: 20px;
    font-size: 14px;
    font-weight: 200;
}



/*Als Info: den "Mehr" Button haben wir auf bearebiten & löschen geändert, aber hier drin heisst er noch mehr-button, deshalb müssen wir hier noch mehr-button schreiben, sonst funktioniert es nicht*/
.button_mehr {
    padding: 10px 20px;
    padding-bottom: 15px;
    margin-top: 7px;
    background-color: #F5F5F5;
    color: #323232;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float: right;
    width: 120px;
    height: 7px;
    font-family: Roboto;
    text-decoration: none;
    text-align: center;
    font-size: 10px;
    margin-right: 22px;
}
    
.button_mehr:hover {
        background-color: #323232;;
        color: #F5F5F5;
}

.button_pflanze_hinzufuegen{
    padding: 10px 0;
    background-color: #323232;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 190px; /* Breite der Buttons, kann nach Bedarf angepasst werden */
    height: 40px;
    text-align: center;
    display: block; /* In einer horizontalen Linie anzeigen */
    margin: 0 auto;
    margin-top: 100px;

}

.button_pflanze_hinzufuegen:hover{
    background-color: #589A8D; 
    color: #fff;
}

.button_logout {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px 0;
    background-color: #323232;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 130px; /* Breite der Buttons, kann nach Bedarf angepasst werden */
    height: 40px;
    text-align: center;
    margin-right: 100px;
    margin-top: 60px;
}

.button_logout:hover{
    background-color: #589A8D; 
    color: #fff;
}