/*Typografie*/
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Knewave&family=Montserrat:wght@300;400;500;600;700&display=swap'); 

body{
    margin: 0;
    padding: 0;
}

/*Hauptite - Plant Aid*/
h1{
    color: #323232;
    text-align: center;
    font-family: Knewave;
    font-size: 90px;
    font-style: normal;
    font-weight: 400;
    
}

/* Titel - Anmelden, Registrieren, Meine Pflanzen, etc.*/
h2{
    color: #323232;
    text-align: center;
    font-family: Knewave;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* Überschrfit - Name der Pflanze*/
h3{
    color: #323232;
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
}

/* kleinere Überschrift - Name/Alter, Merkmale, Galerie deiner Fortschritte*/
h4{
    color: #323232;
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

/*Pflanzenübsicht - kleiner Text bei Icons*/
h5{
    color: #323232;
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: 30px; 
}


/* Fliesstext - Text unterhalb Titel*/
p{
    color: #323232;
    text-align: center;
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

/* LogIn-Seite */



/*Hintergrundbild*/
#Hintergrundbild {
    background-image: url(../img/scott-webb-eA2z1JSzZFI-unsplash.jpg);
    background-size: cover; /* Hintergrundbild über den gesamten Bildschirm strecken */
    background-repeat: no-repeat;
    background-attachment: fixed; /* Das Bild bleibt fixiert und scrollt nicht */
    background-position: center;
    height: 100vh; /* 100% der Bildschirmhöhe */
    /* Hier wird die Deckkraft auf 50% gesetzt */
    background-color: rgba(255, 255, 255, 0.1);
}

    

#Titel_Anmedlung{
    color: #323232;
    text-align: center;
    font-family: Knewave;
    font-size: 90px;
    font-style: normal;
    font-weight: 400;
    padding-top: 120px;
}

#Untertitel_Anmedlung{
    color: #323232;
    text-align: center;
    font-family: Knewave;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 20px;
}

.container_login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

/* Stil für das E-Mail-Eingabefeld */
#email {
    width: 260px;
    height: 20px;
    background-color: #F5F5F5;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 20px;
}

/* Stil für den "Anmelden" Button */
#sendMagicLinkButton {
    padding: 10px 0;
    background-color: #589A8D;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 300px; /* Breite der Buttons, kann nach Bedarf angepasst werden */
    height: 40px;
    text-align: center;
    display: inline-block; /* In einer horizontalen Linie anzeigen */
    margin-top: 30px;
}

#sendMagicLinkButton:hover {
    padding: 10px 0;
    background-color: #CEE6D8;
    color: #323232;
}

/* Stil für den "Neu Registrieren" Button */
.button_neu_registrierung {
    padding: 10px 0;
    background-color: #323232;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 300px; /* Breite der Buttons, kann nach Bedarf angepasst werden */
    height: 40px;
    text-align: center;
    display: inline-block; /* In einer horizontalen Linie anzeigen */
    margin-top: 10px;
}

.button_neu_registrierung:hover {
    padding: 10px 0;
    background-color: #CEE6D8;
    color: #323232;
}
  


/*Registrierungs-Seite*/
.container {
    max-width: 400px;
    margin: auto;
    
}
  
.form-group {
    margin-bottom: 15px;
}
  
label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}
  
input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
  
.button_registrierung {
    padding: 10px 20px;
    background-color: #589A8D;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float: right;
    width: 100%;
}

.button_registrierung:hover {
    background-color: #CEE6D8;
    color: #323232; 
}

h1.registration{
    color: #F5F5F5;
    margin-block-start: 1em;
    margin-block-end: 0em;
}

h2.registration{
    color: #F5F5F5;
    margin-block-start: 0em;
    margin-block-end: 0.em;
}

#wrapper {
    max-width: 410px;
}

#first {
    width: 45%;
    float: left;
}

#second {
    width: 45%;
    float: right;
}


/*pflanze-hinzufügen-bestätigung*/

#pflanze-hinzugefuegt-bestaetigung-titel{
    text-align: center;
    margin-top: 200px;
}

.button_hinzufuegen_bestaetigung{
    padding: 10px 0;
    background-color: #323232;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 190px; /* Breite der Buttons, kann nach Bedarf angepasst werden */
    height: 40px;
    text-align: center;
    display: block; /* In einer horizontalen Linie anzeigen */
    margin-left: 760px;
    margin-top: 200px;
}

.button_hinzufuegen_bestaetigung:hover{
    background-color: #589A8D;
    color: #fff;
}

/*Bearbeitungs-Seite*/
.container-bearbeitung {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}
  
.form-group-bearbeitung {
    margin-bottom: 15px;
}
  
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
  
input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
  
.button_speichern {
    padding: 10px 20px;
    padding-right: 100px;
    background-color: #589A8D;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float: right;
}
.button_speichern:hover {
    background-color: #CEE6D8;
    color: #323232; 
}

#wrapper-bearbeitung {
    max-width: 400px;
}



/*Pflanzen Profil Seite*/

#merkmale{
    margin-right: 320px;
}

#merkmale_defintionen{
    font-size: 14.5px;
    font-weight: 200;
    margin-left: 655px;
    text-align: left;
    padding: 10px 20px;
    width: 370px; /* Breite der Buttons, kann nach Bedarf angepasst werden */
    height: 20px;
    border-radius: 4px;
    background-color:#F5F5F5;
    padding-left: 15px; /* Linker Abstand */
}

.button_loeschen,
.button_bearbeiten,
.button_zurueck_profil {
    padding: 10px 0;
    background-color: #323232;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 190px; /* Breite der Buttons, kann nach Bedarf angepasst werden */
    height: 40px;
    text-align: center;
    display: inline-block; /* In einer horizontalen Linie anzeigen */
    margin: 10px; /* Abstand zwischen den Buttons */
    
}

.button_loeschen,
.button_bearbeiten {
    margin-right: 10px; /* Abstand zwischen den Buttons "Löschen" und "Bearbeiten" */
    margin-top: 20px;
}
.button_loeschen{
    margin-left: 335px;
}

.button_loeschen:hover,
.button_bearbeiten:hover,
.button_zurueck_profil:hover {
    background-color: #589A8D;
    color: #fff;
}

.button_zurueck_profil {
    float: left; /* Zurück-Button auf die linke Seite verschieben */
    clear: both; /* Verhindert, dass andere Elemente neben dem Zurück-Button schweben */
    margin-top: 120px;
    margin-left: 120px;
}

/*Pflanzen Profil Seite - 2. Seite BEARBEITEN */

form#editPlantForm {
    font-size: 14.5px;
    font-weight: 200;
    margin-left: 655px;
    text-align: left;
    padding: 10px 20px;
    width: 370px; /* Breite der Buttons, kann nach Bedarf angepasst werden */
    height: 20px;
    padding-left: 15px; /* Linker Abstand */

}

input#nickname{
    background-color: #F5F5F5;
    color: #323232;
    text-align: left;
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

input#species{
    background-color: #F5F5F5;
    color: #323232;
    text-align: left;
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

input#planted{
    background-color: #F5F5F5;
    color: #323232;
    text-align: left;
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-right: 300px;
}

button#speichern_knopf{
    padding: 10px 0;
    background-color: #323232;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 190px; /* Breite der Buttons, kann nach Bedarf angepasst werden */
    height: 40px;
    text-align: center;
    display: inline-block; /* In einer horizontalen Linie anzeigen */
    margin-right: 200px;
    margin-top: 50px;
}

button#speichern_knopf:hover{
    background-color: #589A8D;
    color: #fff;    
}

button#button_loeschen{
    margin-right: 200px;
}


/*Seite Bestätigung Pflanze bearbeiten*/
.button_meine_pflanzen{
    padding: 10px 0;
    background-color: #323232;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 190px; /* Breite der Buttons, kann nach Bedarf angepasst werden */
    height: 40px;
    text-align: center;
    display: block; /* In einer horizontalen Linie anzeigen */
    margin-left: 760px;
}

.button_meine_pflanzen:hover{
    background-color: #589A8D; 
    color: #fff;
}

#pflanze-bearbeitet-bestaetigung-titel{
    margin-top: 200px;
    text-align: center;
}

/*Seite Löschen Bestätigung*/
#pflanze-loeschen-bestaetigung-titel{
    margin-top: 200px;
    text-align: center;
}

.button_pflanze_loeschen_bestaetigung{
    padding: 10px 0;
    background-color: #323232;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 190px; /* Breite der Buttons, kann nach Bedarf angepasst werden */
    height: 40px;
    text-align: center;
    display: block; /* In einer horizontalen Linie anzeigen */
    margin-left: 760px;
    margin-top: 50px;
}

.button_pflanze_loeschen_bestaetigung:hover{
    background-color: #589A8D; 
    color: #fff;
}




/*Seite Meine Pflanzen -  Home*/

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.plant-card {
    border: 1px solid #ffffff;
    padding: 10px;
    border-radius: 5px;
    width: 300px;
    background-color: #ffffff;
}

.plant-card h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.plant-card p {
    margin-top: 10px;
    text-align: left;
}

.plant-card img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    margin-right: 10px; 
}

#merkmale_pflanzen {
    font-size: 14.5px;
    font-weight: 200;
    border-radius: 4px;
    padding: 10px 20px;
    width: 260px; /* Breite der Buttons, kann nach Bedarf angepasst werden */
    height: 20px;
}




/*Als Info: den "Mehr" Button haben wir auf bearebiten & löschen geändert, aber hier drin heisst er noch mehr-button, deshalb müssen wir hier noch mehr-button schreiben, sonst funktioniert es nicht*/
.button_mehr {
    padding: 10px 20px;
    padding-right: 100px;
    background-color: #F5F5F5;
    color: #323232;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float: right;
    }
    
    .button_mehr:hover {
        background-color: #589A8D;
        color: #323232; 
    }


.button_pflanze_hinzufuegen{
    padding: 10px 0;
    background-color: #323232;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 190px; /* Breite der Buttons, kann nach Bedarf angepasst werden */
    height: 40px;
    text-align: center;
    display: block; /* In einer horizontalen Linie anzeigen */
    margin: 0 auto;
    margin-top: 50px;

}

.button_pflanze_hinzufuegen:hover{
    background-color: #589A8D; 
    color: #fff;
}

.button_logout {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px 0;
    background-color: #323232;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 130px; /* Breite der Buttons, kann nach Bedarf angepasst werden */
    height: 40px;
    text-align: center;
}

.button_logout:hover{
    background-color: #589A8D; 
    color: #fff;
}