/*Typografie*/

/*Hauptite - Plant Aid*/
h1{
    color: #323232;
    text-align: center;
    font-family: Knewave;
    font-size: 100px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* Titel - Anmelden, Registrieren, Meine Pflanzen, etc.*/
h2{
    color: #323232;
    text-align: center;
    font-family: Knewave;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* Überschrfit - Name der Pflanze*/
h3{
    color: #323232;
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
}

/* kleinere Überschrift - Name/Alter, Merkmale, Galerie deiner Fortschritte*/
h4{
    color: #323232;
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

/*Pflanzenübsicht - kleiner Text bei Icons*/
h5{
    color: #323232;
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: 30px; 
}


/* Fliesstext - Text unterhalb Titel*/
p{
    color: #323232;
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

/*Buttons*/

/* Buttons Startseite*/
.button_startseite_registrieren{
    color: #323232;
}

.button_startseite_anmelden{
    color: #589A8D;
}

/* Buttons - Registrierung */
.button_registrieung{
    color: #589A8D;
}


/* Buttons - Home (Meine Pflanzen) */
.button_meine_pflanzen_hinzufuegen{
    color: #323232;
}

.button_logout{
    color: #323232;
}


/* Buttons - Pflanzen Anmeldungsformular hinzufügen */
.button_anmeldungsformular_hinzufuegen{
    color: #323232;
}

/*Buttons - Pflanzen Profil (löschen und berabeiten)*/
.button_bearbeiten{
    color: #323232;
}

.button_loeschen{
    color: #323232;
}

/* Buttons - Pflanzen defintiv löschen */
.button_defintiv_loeschen{
    color: #323232;
}

/* Buttons - Pflanzen sichern */
.button_sichern{
    color: #323232;
}

/*Button - Zurück*/
.button_zurueck{
    color: #323232;
    
}

/*Registrierungs-Seite*/
.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}
  
.form-group {
    margin-bottom: 15px;
}
  
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
  
input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
  
button {
    padding: 10px 20px;
    padding-right: 100px;
    background-color: #589A8D;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float: right;
}

button:hover {
    background-color: #CEE6D8;
    color: #323232;
    
}

h1.registration{
    color: #F5F5F5;
    margin-block-start: 1em;
    margin-block-end: 0em;
}

h2.registration{
    color: #F5F5F5;
    margin-block-start: 0em;
    margin-block-end: 0.em;
}

#wrapper {
    max-width: 400px;
}

#first {
    width: 45%;
    float: left;
}

#second {
    width: 45%;
    float: right;
}

 

/*pflanze-löschen-bestätigung*/

.button_zurueck{
    color: #F5F5F5;
    background-color: #323232;
    padding-right: 50px;
    padding-left: 50px;
    margin: 0 auto; 
    display: block; 
}

.button_zurueck:hover {
    color: #323232;
    background-color: #CEE6D8;
}

.container_erfolg {
    text-align: center;   
    padding-top: 250px;
}


/*Bearbeitungs-Seite*/
.container-bearbeitung {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}
  
.form-group-bearbeitung {
    margin-bottom: 15px;
}
  
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
  
input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
  
button {
    padding: 10px 20px;
    padding-right: 100px;
    background-color: #589A8D;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float: right;
}

button:hover {
    background-color: #CEE6D8;
    color: #323232;
    
}

h1.registration{
    color: #F5F5F5;
    margin-block-start: 1em;
    margin-block-end: 0em;
}

h2.registration{
    color: #F5F5F5;
    margin-block-start: 0em;
    margin-block-end: 0.em;
}

#wrapper {
    max-width: 400px;
}

#first {
    width: 45%;
    float: left;
}

#second {
    width: 45%;
    float: right;
}




